.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.movie-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  position: relative;
  top: 8rem;
}

@media screen and (max-width: 1214px) {
  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 824px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7.1rem;
  }
}

@media screen and (max-width: 563px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8.5rem;
  }
}

@media screen and (max-width: 415px) {
  .movie-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 11.5rem;
  }
}
