.movie-selector {
  padding: 0.75rem;
  appearance: none;
  width: 11rem;
  border-radius: 8px;
  background-color: antiquewhite;
  background-image: url("../../assets/drop-down.png");
  background-position-x: 9rem;
  background-position-y: 0.6rem;
  background-size: 20px;
  background-repeat: no-repeat;
  color: rgb(63, 63, 63);
}

.movie-selector:hover {
  border: 2px solid rgb(18, 23, 23);
}
