.navbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(35, 35, 35);
  color: darkgray;
  min-height: 5rem;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#titleImg {
  width: 2rem;
}

#total-num {
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  background-color: gray;
  border-radius: 8px 0px;
}
