.navbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(35, 35, 35);
  color: darkgray;
  min-height: 5rem;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.1rem;
  margin-right: 2.1rem;
}

#titleImg {
  width: 2rem;
}

#total-num {
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  background-color: gray;
  border-radius: 8px 0px;
}

@media screen and (max-width: 650px) {
  .navbar {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .item1 {
    order: 2;
    scale: 0.75;
    margin-left: 0;
  }

  .item2 {
    order: 1;
  }

  .item3 {
    order: 3;
    scale: 0.75;
  }
}

@media screen and (max-width: 418px) {
  .navbar {
    flex-direction: column;
  }
}
