#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
button {
  background-color: cornflowerblue;
  padding: 0.5rem;
  border-radius: 10%;
  color: antiquewhite;
}
button:hover {
  scale: 1.1;
  border: royalblue 0.5px solid;
  cursor: pointer;
  transition: 0.5s;
}
